# yarn lock file
/yarn.lock

# npm lock file (v5.0.0+)
/package-lock.json

# Ignore basic folders
/dist
/.rpt2_cache
/tsc-out
/node_modules
/_book

# TypeScript definitions installed by Typings
/typings

# Screeps Config
screeps.json

# ScreepsServer data from integration tests
/server

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# Editor folders
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
/assets/gift.png
/assets/map/W0N0.png
/assets/map/W0N1.png
/assets/map/W0N10.png
/assets/map/W0N2.png
/assets/map/W0N3.png
/assets/map/W0N4.png
/assets/map/W0N5.png
/assets/map/W0N6.png
/assets/map/W0N7.png
/assets/map/W0N8.png
/assets/map/W0N9.png
/assets/map/W10N0.png
/assets/map/W10N1.png
/assets/map/W10N10.png
/assets/map/W10N2.png
/assets/map/W10N3.png
/assets/map/W10N4.png
/assets/map/W10N5.png
/assets/map/W10N6.png
/assets/map/W10N7.png
/assets/map/W10N8.png
/assets/map/W10N9.png
/assets/map/W1N0.png
/assets/map/W1N1.png
/assets/map/W1N10.png
/assets/map/W1N2.png
/assets/map/W1N3.png
/assets/map/W1N4.png
/assets/map/W1N5.png
/assets/map/W1N6.png
/assets/map/W1N7.png
/assets/map/W1N8.png
/assets/map/W1N9.png
/assets/map/W2N0.png
/assets/map/W2N1.png
/assets/map/W2N10.png
/assets/map/W2N2.png
/assets/map/W2N3.png
/assets/map/W2N4.png
/assets/map/W2N5.png
/assets/map/W2N6.png
/assets/map/W2N7.png
/assets/map/W2N8.png
/assets/map/W2N9.png
/assets/map/W3N0.png
/assets/map/W3N1.png
/assets/map/W3N10.png
/assets/map/W3N2.png
/assets/map/W3N3.png
/assets/map/W3N4.png
/assets/map/W3N5.png
/assets/map/W3N6.png
/assets/map/W3N7.png
/assets/map/W3N8.png
/assets/map/W3N9.png
/assets/map/W4N0.png
/assets/map/W4N1.png
/assets/map/W4N10.png
/assets/map/W4N2.png
/assets/map/W4N3.png
/assets/map/W4N4.png
/assets/map/W4N5.png
/assets/map/W4N6.png
/assets/map/W4N7.png
/assets/map/W4N8.png
/assets/map/W4N9.png
/assets/map/W5N0.png
/assets/map/W5N1.png
/assets/map/W5N10.png
/assets/map/W5N2.png
/assets/map/W5N3.png
/assets/map/W5N4.png
/assets/map/W5N5.png
/assets/map/W5N6.png
/assets/map/W5N7.png
/assets/map/W5N8.png
/assets/map/W5N9.png
/assets/map/W6N0.png
/assets/map/W6N1.png
/assets/map/W6N10.png
/assets/map/W6N2.png
/assets/map/W6N3.png
/assets/map/W6N4.png
/assets/map/W6N5.png
/assets/map/W6N6.png
/assets/map/W6N7.png
/assets/map/W6N8.png
/assets/map/W6N9.png
/assets/map/W7N0.png
/assets/map/W7N1.png
/assets/map/W7N10.png
/assets/map/W7N2.png
/assets/map/W7N3.png
/assets/map/W7N4.png
/assets/map/W7N5.png
/assets/map/W7N6.png
/assets/map/W7N7.png
/assets/map/W7N8.png
/assets/map/W7N9.png
/assets/map/W8N0.png
/assets/map/W8N1.png
/assets/map/W8N10.png
/assets/map/W8N2.png
/assets/map/W8N3.png
/assets/map/W8N4.png
/assets/map/W8N5.png
/assets/map/W8N6.png
/assets/map/W8N7.png
/assets/map/W8N8.png
/assets/map/W8N9.png
/assets/map/W9N0.png
/assets/map/W9N1.png
/assets/map/W9N10.png
/assets/map/W9N2.png
/assets/map/W9N3.png
/assets/map/W9N4.png
/assets/map/W9N5.png
/assets/map/W9N6.png
/assets/map/W9N7.png
/assets/map/W9N8.png
/assets/map/W9N9.png
/assets/map/zoom2/W11N11.png
/assets/map/zoom2/W11N3.png
/assets/map/zoom2/W11N7.png
/assets/map/zoom2/W3N11.png
/assets/map/zoom2/W3N3.png
/assets/map/zoom2/W3N7.png
/assets/map/zoom2/W7N11.png
/assets/map/zoom2/W7N3.png
/assets/map/zoom2/W7N7.png
/db.json
/logs/*.1
/logs/*.2
/logs/*.3
/logs/*.4
/logs/*.5
